* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
}

.left-player-side,
.right-player-side {
  height: 100vh;
  width: 45vw;
  background-image: linear-gradient(
    270deg,
    hsl(193deg 93% 43%) 0%,
    hsl(193deg 88% 45%) 7%,
    hsl(193deg 84% 46%) 14%,
    hsl(193deg 80% 48%) 20%,
    hsl(193deg 77% 49%) 26%,
    hsl(192deg 75% 50%) 31%,
    hsl(192deg 76% 51%) 35%,
    hsl(192deg 78% 53%) 39%,
    hsl(192deg 79% 54%) 43%,
    hsl(191deg 81% 55%) 46%,
    hsl(191deg 82% 56%) 49%,
    hsl(191deg 84% 57%) 52%,
    hsl(191deg 86% 59%) 54%,
    hsl(190deg 87% 60%) 57%,
    hsl(190deg 89% 61%) 59%,
    hsl(190deg 91% 62%) 62%,
    hsl(189deg 93% 63%) 65%,
    hsl(189deg 95% 64%) 69%,
    hsl(189deg 98% 66%) 76%,
    hsl(188deg 100% 67%) 99%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.left-title,
.right-title {
  font-family: fantasy;
  font-size: 6vh;
  padding: 10vh 0 2vh 0;
}

.left-outcome,
.right-outcome {
  font-family: fantasy;
  font-size: 3vh;
  padding: 0 2vw 0 2vw;
}

.game-wrapper {
  height: 100vh;
  width: 50vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.middle-header {
  font-family: fantasy;
  font-size: 8vh;
  padding: 4vh 0 0 0;
}
.game-container {
  padding: 0 0 25vh 0;
}

/* .game-container,
.game-layout, */
.game-wrapper,
.square {
  background-color: coral;
}

.square {
  background-image: linear-gradient(
    45deg,
    hsl(198deg 70% 69%) 0%,
    hsl(198deg 70% 69%) 14%,
    hsl(198deg 70% 69%) 27%,
    hsl(198deg 70% 69%) 40%,
    hsl(198deg 70% 69%) 54%,
    hsl(198deg 70% 69%) 68%,
    hsl(198deg 70% 69%) 83%,
    hsl(198deg 70% 69%) 100%
  );
}

.game-container {
  height: 50vh;
  width: 50vw;
  display: flex;
  justify-content: center;
}

.game-layout {
  height: 60vh;
  width: 41vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
}

button {
  font-size: 500%;
}

button,
.square {
  height: 19vh;
  width: 14vw;
}
